@import url('https://fonts.googleapis.com/css?family=Roboto: 100,200,300,400,500,600,700|Anton: 300,400,500');


/*------------------------------FF3C38---------------------------------------Colours------------- #262626 --black  #113462 dark blue  #454955 light grey  #6B1B12 dark organge*/
/*.text-color-sextion {*/
/*    color: #ffff66;*/
/*}*/

.navbar-font{
    color: #FF3C38;
}

.navbar{
    background-color: #6B1B12;
}


.ui-menu-color{
    background-color: #262626;
}

.bg-menu{
    background-color:  #262626;
}

a {
    color: #99ccff;
}

.alert-warning {
    color: #FF3C38;
    background-color: #262626;
    border-color: #454955;
}

.navbar.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color:  #FF3C38;
}

.navbar.navbar-2 .navbar-toggler-icon {
     background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=#4285F4');
     background-color: #FF3C38 !important;
     background-size: cover !important
}
button{
    background-color: #FF3C38 !important;
    border-color: #113462 !important;
}

.form-font-style{
    background: #ffbb3378;
}

.contact-details{
        background: #4c3c42a6;
        
}
.block-divider-gold {
    background-color: #6B1B12;
}

/*---------------------------------------------------------------------font--------------*/

.uppercase{
    text-transform: uppercase;
}
.dropdown-text-styles{
    font-family: 'Anton', sans-serif;
    font-weight: 300;
    font-size: 20px;

}

.jumbotron{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}
.text-style-into-block-small{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin: 0px;
    overflow-x:hidden;
}

.alert-warning{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.general-sub{
    color: #99ccff;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100;
}
.form-font-style{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #262626;
    font-size: 20px;
}
.grid-element {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #262626;
}

.contact-details{
    font-size:20px;
    color:#ffff66;
    font-weight: 900;
}       

/*---------------------------------------------------------------------Header--------------*/


.logo {
    background: url("images/bSentientlogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    z-index: 2;
    min-height: 120px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.logo-nav {
    background: url("images/bSentientlogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    z-index: -1;
    min-height: 140px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}



.navbar {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 6;
    text-align: left;
}
.align-right {
    padding-left: 35px;
    text-align: right;
    float: right;
}
.alert{
    border-radius: 0px;
}

.alert-container{
    display: inline-block;
    margin: 0;
}

.wide-alert{
    width: 100%;
    margin: 0;
}

.list-inline-item:not(:last-child){
    margin:0px -4px 0px -4px;
}

.no-pad{
     margin-right:0;
     margin-left:0;
     padding: 0;
}

.menucontainer{
    padding: 0;
    display: inline;
}
#nav {
    margin: 0;
    text-align-last: center;
}



.menuitem {
    height: 120px;
    padding:0px;
    text-align: center;
    display: inline-block;
    max-width: 19%;
    width: 100%;
}


.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuitem a i {
    padding-top: 30px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
/*---------------------------------------------------------------------Section--------------*/

#section-background-1 {
    background: url("images/dreamstimemaximum_140964942_mobilebackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    position: relative;
    transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
}


.container-fluid{
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 0;
}

.opaque-overlay {
    position: absolute;
    z-index: -200;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(160, 179, 157, 0.44);
}

.block-divider {
    width: 105px;
    height: 5px;
    border: 0;
}

/*.padding-section {
    padding-bottom: 20px;
    padding-top: 20px;
}

.wrapper{
    text-align: center;
    width: 100%;
}*/

/*.text-style-into-block{
    margin: 0;
}

.align-help{
    text-align: center;
    width: 100%;
    display: block
    
}*/

.row{
    margin: 0px;
}


/* ..................................................................Jumbotron........... */

.jumbotron {
    background-color: transparent;
    position: relative;
    margin-top: 30px;
    z-index: 1;
}

.jumbotron h1 {
    margin-bottom: 25px;
    color: #FF3C38;
}
.jumbotron h2 {
    color: #262626;
    margin-bottom: 20px;
    font-size: 1.6rem;
}
.jumbotron .lead {
    color: #ffff66;
    margin: 25px 0;
}



/*---------------------------------------------------------------------Footer--------------*/

.list-inline-item-footer{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
}
.general-sub{
    margin:0px;
}


footer {
    background-color: #6B1B12;
    color: #fafafa;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
   }

.logo-footer {
    background: url("images/bSentientlogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    z-index: -1;
    min-height:100%;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.padding-contact{
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100px;
}

/*.bottom-spacing{*/
/*    margin-bottom: -5px;*/
/*}*/

/** ...........................................................Contact.html......................**/



.form-container{
    width: 80%;
    text-align: center;
    display: inline-block;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10%;
}

.name-block{
    padding: 0px;
}
.last-name-block{
    padding-right:0px;
}

.form-check{
    display: inline-block;
}
.contact-details{
    margin-bottom:20%;
    text-align:center;
}

/** ...........................................................service.html......................**/

#section-background-2 {
    background: url("images/dreamstimeextralarge_134781260.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    position: relative;
    transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
}
.container-grid{
    padding:30px;
}

.container{
    position: relative;
    width: auto;
    z-index: 2;
    display: inline-table;
    margin: 10% 10% 15% 10%;
}

.opaque-overlay-grid {
    position: absolute;
    z-index: -200;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(217, 188, 131, 0.82);
}

/** ...........................................................training.html......................**/
.training-h2{
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}
.reasons-style, h3{
    text-align: left;
    font-size: 17px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
}

/** ...........................................................about.html......................**/

#section-background-3 {
    background: url("images/dreamstimemaximum_140964942_mobilebackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    position: relative;
    transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
}

.z-image{
    background: url("images/Zofia.jpg");
    width: 100%;
    height: 430px;
    background-color: #f7f7f7;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.h-image{
    background: url("images/hendrik.jpg");
    width: 100%;
    height: 430px;
    background-color: #f7f7f7;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.p-image{
    background: url("images/Pieter.jpg");
    width: 100%;
    height: 430px;
    background-color: #f7f7f7;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.team {
    margin-top: 40px;
}

.grid-4 {
    float: left;
}

.team-member {
    margin-top: 40px;
    text-align: center;
}

.team-member ul {
    list-style: none;
    padding: 0px;
}

.team-member li{
    display: inline-block;
}
.team-member li+li{
    margin-left: 10px;
}

.team-member .job-role {
    color: #262626;
    font-size: 0.875em;
    font-weight: 400;
    letter-spacing: .04em;
    margin: 0;
    padding: 2px 0;
}
.team-member .team-member-shadowy {
    padding-bottom: 80px;
}

.team-member .team-member-shadowy .team-member-info {
    padding: 20px 0;
}

.team-member .team-name {
    color: #434a54;
    font-size: 1.125em;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: uppercase;
}
/** ..................................................................Product.html................**/

#section-background-4 {
    background: url("images/dreamstimeextralarge_9699098.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
}

.heading-title{
    font-family: "Maven Pro", Sans-serif;
    font-size: 23px;
    font-weight: normal;
    line-height: 23px;
    letter-spacing: 1px;
    color: #ffffff;
}

.img-rovolution{
    width: 100%;
}

.subtitle {
    text-align: center;
    font-size: 100%;
    line-height: 23px;
    color: #ffffff;
    hyphens: manual;
}


.v-stand-alone{
    position: relative;
    padding-bottom:60%;
    padding-top: 30px;
    overflow: hidden;
}

.v-stand-alone iframe,
.v-stand-alone object,
.v-stand-alone embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.v-title{
    font-family: "Maven Pro", Sans-serif;
    font-size: 23px;
    font-weight: normal;
    line-height: 23px;
    letter-spacing: 1px;
    color: #ffffff;
}

.v-content{
    font-family: "Maven Pro", Sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 15px;
    letter-spacing: 1px;
    color: #ffffff;
}

.container-staraid {
  padding: 40px;
}

.img-features{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

/*.staraid-row {
  display: block;
}*/

.float{
    float: right;
}
/** ..................................................................Hover................**/

.hvr-sweep-to-bottom:before {
    background-color: rgba(237, 236, 238, 0.2);
    height: 120px;
}


/*---------------------------------------------------------------------MediaQ--------------*/

@media(min-width: 760px){
    #section-background-1 {
    background: url("images/dreamstimeextralarge_134781260.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
    }
    #section-background-2{
        background: url("images/dreamstimemaximum_140964942A.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;
        transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out
    }
    #section-background-3 {
    background: url("images/dreamstimeextralarge_111718113.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    position: relative;
    transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
    }

    .navbar-toggle{
        display: none;
    }
    
    .intro-block{
        width: 19%;
        margin-bottom: 30px;
    }

    html, body {
    height: 100%;
     }
   
    .navbar-font {
    font-family: 'Anton', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding-top: 35px;
    }
    
    .logo-nav {
    background: none;
    background-color:#6B1B12;
    min-height: 106px;
    }

    .collapse {
        display: none;
    }
    .text-style-into-block-small{
    overflow-x:hidden;
    white-space:nowrap;
    margin: 10px;
    }
    .form-container{
    width: 55%;
    }
   /* .block-info{
    padding: 0px;
    }*/
    .heading-title{
    font-family: "Maven Pro", Sans-serif;
    font-size: 50px;
    font-weight: normal;
    line-height: 54px;
    letter-spacing: 1px;
    color: #ffffff;
    }
    .subtitle {
    font-size: 27px;
    line-height: 34px;
    }
    .v-stand-alone iframe,
    .v-stand-alone object,
    .v-stand-alone embed {
    height:450px;
    }
    .v-title{
    font-size: 30px;
    line-height: 40px;
    }
}    

@media(min-width: 1024px){
    .callout{
    display: inline-block;
    margin: 10px;
    }
}
