@import url('https://fonts.googleapis.com/css?family=Roboto: 100,200,300,400,500,600,700|Anton: 300,400,500');


/*------------------------------FF3C38---------------------------------------Colours------------- #262626 --black  #113462 dark blue  #454955 light grey  #6B1B12 dark organge*/
.text-color-sextion {
    color: #FDFFFC
}

.navbar-font{
    color: #FF3C38;
}

.navbar{
    background-color: #6B1B12;
}


.ui-menu-color{
    background-color: #262626;
}

.bg-menu{
    background-color:  #715703;
}

.alert-warning {
    color: #FF3C38;
    background-color: #715703;
    border-color: #454955;
}


/*---------------------------------------------------------------------font--------------*/
.navbar-font {
    font-family:'Anton', sans-serif;
    font-weight: 300;
    font-size: 30px;
}
.align-right {
    padding-left: 35px;
}


/*---------------------------------------------------------------------Header--------------*/
.logo {
    background: url("/assets/images/bSentientlogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    z-index: -1;
    min-height: 180px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

.navbar {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 6;
    left: 1px;
    text-align: center;
}

.alert{
    border-radius: 0px;
}

.alert-container{
    display: inline-block;
    margin: 0;
}

.wide-alert{
    width: 100%;
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.no-pad{
     margin-right:0;
     margin-left:0;
     padding: 0;
}

.menucontainer{
    padding: 0;
    display: inline;
}
#nav {
    margin: 0;
    text-align-last: center;
}

.menuitem {
    height: 180px;
    padding: 0;
    text-align: center;
    display: inline-block;
    max-width: 19%;
    width: 100%;

    
}


.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuitem a i {
    padding-top: 20px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
/*---------------------------------------------------------------------Section--------------*/
.container-fluid{
    margin: 0;
    width: 100%;
}

.backround-image {
    background: url("/assets/images/dreamstimeextralarge_134781260.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    display: inline-block;
    min-height: 100%;
    position:fixed;
    z-index:-1;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    
    
}



.intro-block{
    border: 10px solid #6B1B12;
    border-radius: 50px;
    text-align: left;
    margin: auto;
    width: auto;
    position: fixed;
    z-index: 10;
    padding: 15px;
    min-height: 300px;
    
}

.text-style-into-block{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 10px;
}

/*---------------------------------------------------------------------Footer--------------*/

footer {
    background-color: #6B1B12;
    color: #fafafa;
    min-height: 100px;
    margin: 0;
    display: block;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
}

.logo-footer {
    background: url("/assets/images/bSentientlogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    z-index: -1;
    min-height: 100px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

/*---------------------------------------------------------------------MediaQ--------------*/

@media(min-width: 760px){
    .backround-image{
        filter: brightness(80%);
        -webkit-filter: brightness(80%);
        }
    }
    
@media(min-width: 760px){
    .navbar-toggle{
        display: none;
    }
}

