@import url('https://fonts.googleapis.com/css?family=Roboto: 100,200,300,400,500,600,700|Anton: 300,400,500');


/*------------------------------FF3C38---------------------------------------Colours------------- #262626 --black  #113462 dark blue  #454955 light grey  #6B1B12 dark organge*/
.text-color-sextion {
    color: #ffff66;
}

.navbar-font{
    color: #FF3C38;
}

.navbar{
    background-color: #6B1B12;
}


.ui-menu-color{
    background-color: #262626;
}

.bg-menu{
    background-color:  #262626;
}

a {
    color: #99ccff;
}

.alert-warning {
    color: #FF3C38;
    background-color: #262626;
    border-color: #454955;
}

.navbar.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color:  #FF3C38;
}

.navbar.navbar-2 .navbar-toggler-icon {
     background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=#4285F4');
     background-color: #FF3C38 !important;
     background-size: cover !important
}
button{
    background-color: #FF3C38 !important;
    border-color: #113462 !important;
}

/*---------------------------------------------------------------------font--------------*/

.uppercase{
    text-transform: uppercase;
}
.dropdown-text-styles{
    font-family: 'Anton', sans-serif;
    font-weight: 300;
    font-size: 20px;

}

.text-style-into-block{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 10px;
}
.text-style-into-block-small{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin: 0px;
    overflow-x:hidden;
}

.alert-warning{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.general-sub{
    color: #99ccff;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100px;
}
/*---------------------------------------------------------------------Header--------------*/


.logo {
    background: url("/assets/images/bSentientlogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    z-index: -1;
    min-height: 120px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.logo-nav {
    background: url("/assets/images/bSentientlogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    z-index: -1;
    min-height: 140px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}



.navbar {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 6;
    text-align: left;
}
.align-right {
    padding-left: 35px;
    text-align: right;
    float: right;
}
.alert{
    border-radius: 0px;
}

.alert-container{
    display: inline-block;
    margin: 0;
}

.wide-alert{
    width: 100%;
    margin: 0;
}

.list-inline-item:not(:last-child){
    margin:0px -4px 0px -4px;
}

.no-pad{
     margin-right:0;
     margin-left:0;
     padding: 0;
}

.menucontainer{
    padding: 0;
    display: inline;
}
#nav {
    margin: 0;
    text-align-last: center;
}



.menuitem {
    height: 120px;
    padding:0px;
    text-align: center;
    display: inline-block;
    max-width: 19%;
    width: 100%;
}


.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuitem a i {
    padding-top: 30px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
/*---------------------------------------------------------------------Section--------------*/

section{
    height: 100%;
}


.container-fluid{
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 0;
}

.padding-section {
    padding-bottom: 20px;
    padding-top: 20px;
}

.wrapper{
    text-align: center;
    width: 100%;
}

.text-style-into-block{
    margin: 0;
}

.align-help{
    text-align: center;
    width: 100%;
    display: block
    
}
.backround-image {
    background-color:#113462;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: inline-block;
    min-height: 100%;
    width: 100%;
    position:relative;
    z-index: -1;
     transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}



.intro-block{
    border: 10px solid #6B1B12;
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width:100%;
    position: relative;
    display: inline-table;
    z-index: 20;
    padding: 30px 14px 20px 14px;
    min-height: 150px;
    
}

.intro-block-long{
    border: 10px solid #6B1B12;
    border-radius: 30px;
    text-align: left;
    width: 100%;
    position: relative;
    display: inline-block;
    z-index: 10;
    min-height: 180px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    
}
.row{
    margin: 0px;
}
.block-info{
    display: inline;
}

/*---------------------------------------------------------------------Footer--------------*/

.list-inline-item-footer{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
}
.general-sub{
    margin:0px;
}


footer {
    background-color: #6B1B12;
    color: #fafafa;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
   }

.logo-footer {
    background: url("/assets/images/bSentientlogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    z-index: -1;
    min-height:100%;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.padding-contact{
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100px;
}

.bottom-spacing{
    margin-bottom: -5px;
}

/** ...........................................................Contact.html......................**/

.form-align{
    text-align: center;
}

.form-container{
    width: 80%;
    text-align: center;
    display: inline-block;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 30%;
    position: relative;
}


/** ...........................................................Hover......................**/

.hvr-sweep-to-bottom:before {
    background-color: rgba(237, 236, 238, 0.2);
    height: 120px;
}
/*---------------------------------------------------------------------MediaQ--------------*/

@media(min-width: 760px){
    .backround-image{
        background: url("/assets/images/dreamstimeextralarge_134781260.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        display: inline-block;
        min-height: 100%;
        position:relative;
         transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        }
    }
    
@media(min-width: 760px){
    .navbar-toggle{
        display: none;
    }
    
    .intro-block{
        width: 19%;
        margin-bottom: 30px;
    }
     .intro-block-long{
        margin-bottom: 60px;
        margin-top: 40px;
        max-width: 60%;
    }
    
    html, body {
    height: 100%;
     }
   
     .navbar-font {
    font-family: 'Anton', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding-top: 35px;
    }
    
    .logo-nav {
        background: none;
        background-color:#6B1B12;
        min-height: 106px;
    }
    footer{
        position: fixed;
    }
    .collapse {
        display: none;
    }
    .text-style-into-block-small{
    overflow-x:hidden;
    white-space:nowrap;
    margin: 10px;
    }
    .form-container{
    width: 55%;
    }

}

